<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
    </nav>

    <p>Cet iris est un: {{classe}}</p>
    {% if classe == 'Setosa' %}
    <img src={{url_for('static', filename='setosa.jpg')}} alt="Setosa Iris">
    {% endif %}
    {% if classe == 'Versicolor' %}
    <img src={{url_for('static', filename='versicolor.jpg')}} alt="Setosa Iris">
    {% endif %}
    {% if classe == 'Virginica' %}
    <img src={{url_for('static', filename='virginica.jfif')}} alt="Setosa Iris">
    {% endif %}

    <p>New Prediction here:</p>
    <form action="/predict" method="post">
        <label for="sepal-length">Sepal length:</label>
        <input type="text" id="sepal-length" name="sepal-length"/>
        <label for="sepal-width">Sepal width:</label>
        <input type="text" id="sepal-width" name="sepal-width"/>
        <label for="petal-length">Petal length:</label>
        <input type="text" id="petal-length" name="petal-length"/>
        <label for="petal-width">Petal width:</label>
        <input type="text" id="petal-width" name="petal-width"/>
        <button>Submit</button>
    </form>
    
</body>
</html>